.header {
    display: flex;
    align-items: center;
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
    justify-content: space-between;
    box-sizing: border-box;
    height: 68px;
    background-color: #fff;
    top: 0;
    z-index: 99;
    width: 100%;
    position: sticky;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
}

.shadow {
    height: 64px;
    transition: height 0.4s;
    transition-timing-function: ease-in;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.headerRight {
    display: flex;
    height: 100%;
    gap: 10px;
    justify-content: space-between;

}

.logoImage {
    cursor: pointer;
}

.tab {
    color: #333;
    
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    display: flex;
    /* padding: 0 4px; */
    align-items: center;
    height: 100%;
    position: relative;
}

.tabText {
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    text-overflow: ellipsis;
    border-radius: 12px;
    padding: 8px 12px;

    /* letter-spacing: 0.1px; */
}

.h5 {
    display: none;
}

.tabPanel {
    opacity: 0.8;
    /* display: none; */

    transition: all 0.4s;
    position: absolute;
    top: 50px;
    width: max-content;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 12px 12px 12px 12px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tabText:hover {
    background-color: #F4F4F4;
    color: #1976d2;
    /* font-weight: 500; */

}



.tabTextShow {
    background-color: #F4F4F4;
    color: #1976d2;
    /* font-weight: 500; */

}

.tabPanelShow {
    transform: translateY(6px);
    opacity: 1;
    /* display: inline-block; */

}

.tabPanelItem {
    color: #666;
    
    font-size: 16px;
    height: 32px;
    padding: 8px 48px 8px 12px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-weight: 400;
    transition: all 0.6s;

}

.tabPanelItemText {}

.tabPanelItem:hover {
    background-color: #F4F4F4;
    color: #1976d2;

}

.languageTab {
    color: #333;
    
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    display: flex;
    padding: 0 4px;
    align-items: center;
    height: 100%;

}


.tabItem {
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 8px 12px;

}

.drawerList{
    padding-top: 24px;
    
}
.categoryTitle {
    color: #000;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 24px;
    padding-top: 24px;

}
.closeIcon{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    margin-right: 24px;
}
.category{
    background: #f7f7f7;
}
.categoryItem {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 24px;
    transition: all 0.5s;
    cursor: pointer;
}

.categoryItem:hover{
    background-color: #e1e1e1;
    color: #1976d2;

}

.customScrollbar::-webkit-scrollbar {
    width: 10px;
}

.customScrollbar::-webkit-scrollbar-track {
    background: #000;
    border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 1288px) {
    .header {
        padding: 0 24px;
    }



}

@media (max-width: 1100px) {
    .tab {
        display: none;
    }

    .h5 {
        display: flex;

    }

    .pc {
        display: none;
    }

    /* .headerRight {
        width: 0px;
        overflow: hidden;
    } */

    /* .languageLabel{
        width: 0;
        display: none;
        overflow: hidden;
    } */
}

@media (max-width: 800px) {
    .drawerList {
        box-sizing: border-box;
        width: 100vw;
    }
}