.main {
    width: 100%;
    min-height: 560px;
    background: linear-gradient(90deg, #DEF8FD 0%, #F3EDFF 100%), linear-gradient(90deg, #E5D9FF 1.48%, #EDF6FA 94.08%);
    position: relative;
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    opacity: 0.4;
}

.fade {
    opacity: 1;
    transition: opacity 0.4s;
    transition-timing-function: ease-in;
}


.mainLeft {
    max-width: 520px;
    position: relative;
    display: block;
    margin-top: 162px;
}

.topImage {
    position: relative;
    width: 470px;
    height: 400px;
    margin-left: 24px;
    margin-top: 47px;
    margin-right: 82px;
    flex-shrink: 0.4;
}



.title {
    color: #000;
    
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: 58px;
    /* 126.087% */
}

.desc {
    color: #000;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
    /* 140% */
}


@media (max-width: 1288px) {
    .main {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-bottom: 64px;
        padding-top: 48px;
    }
    .mainLeft{
        margin-top: 48px;
    }
    .topImage {
        width: 100%;
        margin: 0;
    }
}