.contentItem {
    /* background-color: #e3f2f8; */
    position: relative;
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
    align-items: center;
    display: flex;
    border-top: #000 1px solid;
    justify-content: space-between;
    background: #F3F6FF;
    min-height: 680px;
    padding-bottom: 24px;
    padding-top: 24px;

    box-sizing: border-box;
    gap: 20px;
}

.contentText {
    max-width: 605px;
    margin-left: 20px;
}

.title {
    color: #000;
    margin-bottom: 48px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 90%;
}

.desc {
    color: #000;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.2px;
    margin-top: 32px;
    /* 145% */
}

.button {
    margin-top: 32px;
    display: flex;
    gap: 24px;
}

.contentImage {
    flex-shrink: 0.2;
}

@media (max-width: 1288px) {
    .contentItem {
        padding-left: 24px;
        padding-right: 24px;

    }
}

@media (max-width: 800px) {

    .contentItem {
        flex-direction: column;
        align-items: center;
        padding: 64px 24px;
    }



    /* .contentImage img{
        width: 100% !important;
        height: auto !important;
        margin-right: 0px;
    } */
    .contentImage{
        width: 100% !important;

        height: 380px !important;
        margin-right: 0px;
    }
}